 <div>
  <app-pokemon (pokemonSelected)="onPokemonSelected($event)"/>
</div>
<div class="flex justify-center items-center h-screen">
  <div class=" bg-topcard rounded-lg shadow-lg overflow-hidden">
    <div class="flex justify-between items-center px-4 py-2 bg-red-600">
      <h1 class="text-lg font-semibold text-white">Pokédex</h1>

    </div>
    <div class="box flex justify-center items-center transition-opacity duration-500"
    [ngClass]="isOpen ? 'open' : 'closed'">
      <app-detailpokemon [pokemonName]="selectedPokemonName" />
    </div>

    <div class="p-1 bg-black"></div>
    <div class="flex justify-between items-center px-4 py-5 bg-white">
    </div>
  </div>

</div>
