@tailwind base;
@tailwind components;
@tailwind utilities;
.pokedex-background {
  width: 100%;
  height: 100vh;
  background-image: url('assets/img/vecteezy_pokemon-ball-vector_117920.jpg');
/*   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;*/
  background-size: 400px;
  background-position: top left;
  background-repeat: repeat;
}

.pokedex-background > * {
  position: relative;
  z-index: 2; /* Coloca el contenido por encima del overlay */
}

.icon{
  width: 40px;
  height: 40px;
}
